#alma{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .almal {
    background-color: wheat;
  }

  #almalk{
    background-color: wheat;
    margin-left: 815px;
  }
  #almalkk{
    background-color: wheat;
    margin-left: 801px;
  }



body{
    background-image: url('szurke.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

p{
    color: white;
    margin-top: 100px;


}

#elso{
    background-color: rgba(0, 0, 0, 0.39);
    width: 500PX;
    border: wheat solid ;
    float: left;
    height: 400px;
    border-radius: 20px;   
    margin-left: 200px;
    margin-top: 100px; 
    text-align: center;
    font-family: "Helvetica", sans-serif;



}

#masodik{
    background-color: rgba(0, 0, 0, 0.39);
    width: 500PX;
    border: wheat solid ;
    float: left;
    margin-left: 500px;
    height: 400px;
    border-radius: 20px;
    margin-top: 100px;
    text-align: center;
    font-family: "Helvetica", sans-serif;


}
#harmadik{
    background-color: rgba(0, 0, 0, 0.39);
    width: 500PX;
    border: wheat solid ;
    height: 400px;
    margin-top: 550px;
    width: 500px;
    border-radius: 20px;
    margin-left: 700px;
    font-family: "Helvetica", sans-serif;

}

